/* options */
.optionRow {
	padding: 10px 0;
}
.mainRow {
	display: flex;
}
.mainRow >.options {
	flex: 1 25%;
	min-width: 25%;
	display: none;
}
.mainRow>.mainContent{
	flex: 1 99%;
}
.mainRow>.mainContent {
	padding: 0;
}
.edit .mainRow >.options {
	display: block;
}
span.title {
	text-transform: capitalize;
	margin-left: 5px;
}
.headerBar {
	position: absolute;
	background: rgba(0,0,0,0.4);
	width: 100%;
	top:0;
	left: 0;
	height: 32px;

}
.headingControl {
	width: 130px;
	height: 31px;
}

.options .optionRow {
	position: fixed;
	top: 0px;
}
.options .AvailableToolbars  {
	position: fixed;
	top: 65px;
	width: 23%;
}

.container-custom {
	max-width: 1400px;
	margin: auto;
}
.VisibleToolbarList {
	list-style-type: none;
	margin: 0;
}

.droppableContainer {
	background: #666;
	min-height: 100vh;
}

.droppableContainer>.VisibleToolbarList {
	padding-left: 0;
}

.edit .droppableContainer .background .panel-heading {
	background-color: rgba(255,255,255,0.4);
	background-image: none;
}
.edit .droppableContainer .background .AvailableToolbar  {
	background-color: rgba(255,255,255,0.3);
}

.droppableContainer .AvailableToolbar {
	
}
.panel {background-color: transparent;}


.ValueBox {float: right; width: 250px; height: 31px; display: none;}
.headerBar .btn-default:last-child {float: right;}

.ItemUpdated {
	position: relative;
	
}
.droppableContainer .panel {margin: 0px;}
.options section .panel {margin: 0; border: 0;}
.options section .panel-heading {display: none;}
.options section .panel-body {display: none}
.options section .panel-options {display: none}
.options .headerBar {display: none}
.options .AvailableToolbar .VisibleToolbarList {display: none}

.droppableContainer .AvailableToolbar {
	padding: 0;
}

.droppableContainer .panel-display {
	display: none
}
.droppableContainer>* {
	padding-bottom: 2em;
	background: #333;
}

.initial {
	padding-left: 0;
	text-align: center;
	color: #777;
	border: 2px dashed #aaa;
	padding: 10px;
}

.droppableContainer .ShowOnAvail {
	display: none;
}

.droppableContainer .AvailableToolbar .VisibleToolbarList  {
	padding: 0;
}

.removeItem {
	float: right;
}

.buttonRow {
	display: flex;
}