/* options */
.optionRow {
	padding: 10px 0;
}

span.title {
	text-transform: capitalize;
	margin-left: 5px;
}
.headerBar {
	position: absolute;
	background: rgba(0,0,0,0.4);
	width: 100%;
	top:0;
	left: 0;
	height: 32px;

}
.headingControl {
	width: 130px;
	height: 31px;
}


.VisibleToolbarList {
	list-style-type: none;
	margin: 0;
}

.droppableContainer {
	background: #666;
	min-height: 100vh;
}

.droppableContainer>.VisibleToolbarList {
	padding-left: 0;
}

.droppableContainer .background .panel-heading {
	background-color: rgba(255,255,255,0.4);
	background-image: none;
}
.droppableContainer .background .AvailableToolbar  {
	background-color: rgba(255,255,255,0.3);
}

.droppableContainer .AvailableToolbar {
	background-color: #fff;
}
.panel {background-color: transparent;}


.ValueBox {float: right; width: 250px; height: 31px; display: none;}
.headerBar .btn-default:last-child {float: right;}

.ItemUpdated {
	position: relative;
	
}
.droppableContainer .panel {margin: 0px;}
.options li .panel {margin: 0; border: 0;}
.options li .panel-heading {display: none;}
.options li .panel-body {display: none}
.options li .panel-options {display: none}
.options .headerBar {display: none}
.options .AvailableToolbar .VisibleToolbarList {display: none}

.droppableContainer .AvailableToolbar {
	padding: 0;
}

.droppableContainer .panel-display {
	display: none
}
.droppableContainer>ul {
	padding-bottom: 2em;
	background: #333;
}

li.initial {
	padding-left: 0;
	text-align: center;
	color: #777;
	border: 2px dashed #aaa;
	padding: 10px;
}

.droppableContainer .ShowOnAvail {
	display: none;
}

.droppableContainer .AvailableToolbar .VisibleToolbarList  {
	padding: 0;
}

.removeItem {
	float: right;
}

.buttonRow {
	display: flex;
}