<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-translate-customization" content="2b4bd1c495140789-38d576b19769d098-g14813c245c3ff107-e">
    <title> | MyMediaBox Asset Management</title>
    
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"/>
	<link rel="stylesheet" href="core.css" />
	<link rel="stylesheet" href="base.css" />
	<link rel="stylesheet" href="swiper-custom.css" />
	<style id="customCSS" type="text/css"></style>
	<style>
	#logo{
		background-image: url(https://dummyimage.com/250x50/00c099/ffffff.png&text=The%20site%20logo);
	}
    #hero {margin-top: 53px;}
    .fullImage {
        padding: 0!important; 
        background-image: none!important;

    }
    .layoutMapping section {position: relative;}
    .layoutMapping section .add {position: absolute; bottom: -15px; width: 100%; text-align: center; z-index: 78;}
    .fullImage img {width: 100%;}
	body {background: #333;}
    pre {text-align: left;}
    section.initial{min-height: 20em;}

    .sectionType {
        display: block;
        text-align: center;
        padding: 3em 0;
        border: 1px dashed #666;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    .sectionType:hover {
        color: #000;
        border: 1px dashed #444;
    }
    .hero.default .container {display: flex;align-items: center;}
    .hero.default .container h1 {margin-left: 1em; white-space: nowrap}
    .hero.default img {
            max-width: 300px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
    width: auto!important;
    }
    .section-wrapper .layoutMapping>*:first-child{}
</style>
</head>
<body>

	<div class="site-wrap marketing">

		<nav class="navbar main-navbar navbar-default" id="admin-navbar">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/App/DAM/" id="logo">

                
            </a>

        </div>
         
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" style="">

            <ul class="navbar-nav nav" id="admin-nav">

                

                    <li>
                        <a href="javascript:;" class="editMode">
                        <i class="fa fa-edit"> </i>
                            Toggle Edit Mode
                            <span class="short-text">
                                Toggle Edit Mode
                            </span>
                        </a>
                    </li>

                   

                    <li data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Home" data-original-title="" title="">
                        <a href="/app/dam/Marketing/Site/Index/a881e5d5-6a4e-4bbb-9ffe-faaf71c98275/" class="homeBtn">
                            <i class="fa fa-home"></i>
                            <span class="short-text">
                                Home
                            </span>
        </a>
                    </li>
                    

                <li class="" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Profile" data-original-title="" title="">
                <a href="#" id="account-link" class="account">
                    
                        <i class="fa fa-user"></i>
                        
                        Kenny Logins
                    </a>
                </li>


                    <li class="" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Announcements" data-original-title="" title="">
                        <a href="#" id="announcements-link" class="" data-toggle="dropdown">

                            <i class="fa fa-bullhorn"></i>
                            <span id="InitAnnouncementCnt" class="count">1</span>
                            <span class="short-text ">
                                Announcements
                            </span>
                        </a>
                    </li>

                    <li class="" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Support" data-original-title="" title="" style="display:none">
                        <a href="#" id="support-link" title="View Help" class="btn btn-warning" style="display: block;">
                            <i class="fa fa-life-ring"></i>
                            <span class="short-text">
                                Support
                            </span>
                        </a>
                    </li>

                    <li class="dropdown " data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Information" data-original-title="" title="">
                        <a href="#" class="btn dropdown-toggle text-left" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-info-circle"></i>
                            
                            <span class="short-text ">

                                Information
                                <span class="caret"></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu leftMenu" aria-labelledby="dropdownMenu2">
                            <li><a href="/help/index.html" target="_oldpages"><i class="fa fa-graduation-cap"></i><div class="btn_sel_text">Tutorials</div></a></li>
                            <li><a href="/about/index.html" target="_oldpages"><i class="fa fa-question-circle"></i> <div class="btn_sel_text">About</div></a></li>
                            <li><a href="/contact-us/index.html" target="_oldpages"><i class="fa fa-phone"></i><div class="btn_sel_text">Contact Us</div></a></li>

                        </ul>
                    </li>

              

                <li class="" data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Logout" data-original-title="" title="">
                    <a href="#" id="logout-link" class="logout">
                        <i class="fa fa-sign-out"></i>
                        <span class="short-text ">
                            Log Out
                        </span>
                    </a>
                </li>

                <li class="end hidden" id="mobileAdminToggle">
                    <a href="javascript:;">
                        <i class="fa fa-ellipsis-v "></i>
                    </a>
                </li>


            </ul>
        </div><!--/.nav-collapse -->

</nav>

		<main id="sales-wrapper">
			<article class="wrap">
				<div class="section-wrapper">
						
						<div class="content-placeholder layoutMapping">

						</div>
				</div>
                <section id="realFooter">
        <div class="container">
            <div class="content">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="link-wrapper">
                            <h3 id="footerCompanyName"></h3>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">

                        &copy; 2019
                        Corbin Rose the Epic

                    </div>
                </div>
            </div>
        </div>
    </section>
			</article>
		</main>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js" ></script>
<script src="data2.js"></script>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="create.js"></script>
<script>

    var edit=true;
    var FolderImage = "https://picsum.photos/200";
    cr.init({
        data: data,
        wrapper: ".layoutMapping"
    });
</script>
</body>
</html>